/* position: initial, inherit, static, absolute, fixed, relative, sticky */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.hero {
  height: 70vh;
  position: relative;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero > div {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.336); */
  width: 550px;
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 30vh;
  left: 20vw;
}

.down {
  font-size: 5rem;
  color: white;
  backdrop-filter: blur(3px);
  position: absolute;
  bottom: 30px;
  left: 49%;
  transform: rotate(90deg);
  animation: move 0.5s linear infinite;
}

nav {
  background-color: #000;
  color: white;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 1rem;
  transition: all 0.3s;
}

nav li:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.2);
}

/* .img1,
.img2,
.img3,
.img4{

} */

[class^="img"] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
}

.title {
  background: rgba(0, 0, 0, 0.445);
  color: white;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.img1 {
  background: url(https://images.unsplash.com/photo-1523482580672-f109ba8cb9be?q=80&w=2130&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img2 {
  background: url(https://images.unsplash.com/photo-1526958977630-bc61b30a2009?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img3 {
  background: url(https://images.unsplash.com/photo-1504575958497-ccdd586c2997?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img4 {
  background: url(https://images.unsplash.com/photo-1493375366763-3ed5e0e6d8ec?q=80&w=2106&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  background: #000;
  color: wheat;
  padding: 3rem;
  text-align: center;
}

@keyframes move {
  0% {
    bottom: 30px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 30px;
  }
}
